*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Header */
.nav-container{
    background-color: #2c3e50;
    height: 100px;
    width: 100%;
    padding: 20px;
}

.nav-main{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.nav-brand{
   font-size: 1.2rem;
   font-weight: 700;
   margin-bottom: 5px;
}

.nav-main a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.menu-items{
    display: flex;
    list-style-type: none;
}

.menu-items li{
    margin: 10px;
    font-size: 1rem;
}

/* Seção profiler*/
.profile-container{
    background-color: #1abc9c;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#fff;
    padding: 0 20px 0 20px;
   
}

.profile-img img{
    margin-top: 30px;
    width: auto;
    border-radius: 50%;
}

.profile-title{
    margin: 10px 0 5px 0;
    font-size: 1.7rem;
}

.profile-description{
    margin-bottom: 20px;
    font-size: 1rem;
}

/* Seção portfolio*/

#portfolio{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.portfolio-title{
    font-size: 1.8rem;
    text-align: center;
    margin: 30px 0px 15px 0px;
    color:#2c3e50;
    text-transform: uppercase;
}

.portfolio-container{
   justify-content: center;
   display:flex;
   flex-wrap: wrap;
}

.portfolio-item{
    border-radius: 10px;
    width: 290px;
    max-width: 420px;
    cursor: pointer;
    margin: 5px 10px 0px 10px;
}

.portfolio-subtitle{
    text-align: center;
    font-size: 1.2rem;
    color:#2c3e50;
    font-weight: 700;
    padding-bottom: 22px;
}

/*Footer*/
footer{
    height: 120px;
    background-color: #2c3e50;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-title{
    color: #fff;
    font-size: 1.5rem;
    margin: 30px 0px 10px 0px;
}

.social-container i{
    font-size: 1.4rem;
    color: #fff;
    margin: 7px;
}

/* Medias */
@media(min-width: 576px){
    html{
        font-size:20px;
    }
}

@media(min-width: 768px){
    html{
        font-size:22px;
    }

    .portfolio-item {
        width: 280px;
    }

    .nav-container {
        display: flex;
    }

    .nav-main {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-brand {
        font-size: 30px;
        margin-bottom: 0;
    }

    .menu-items li {
        font-size: 18px;
    }
}

